<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="shortcut icon" href="http://vignette2.wikia.nocookie.net/clubpenguin/images/5/51/Jungle_Fern_furniture_icon_ID_835.png/revision/latest?cb=20130205160537">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/top_nav' %>

  <main class="container">
    <% flash.each do |key, value|%>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </main>

  <%= yield :end_of_body %>

  <%= render 'layouts/footer'%>
</body>
</html>
